@model iTransitionCourse.Entity.Task
<partial name="_Header" />

<h1>@Model.Title (&#9733;@Model.AvgRating)</h1>

    <div class="form-group">
        <h3>Description</h3>
        <h4>@Model.Description</h4>
    </div>

    <div class="form-group">
        <label class="control-label">Right Answer</label>
        @foreach(var item in Model.RightAnswers)
            {
                <p>@item </p>
            }
    </div>
    <div class="form-group">

        <a type="submit" asp-action="Edit" asp-controller="Task" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a type="submit" class="btn btn-danger" asp-controller="Task" asp-action="Delete" asp-route-id="@Model.Id"
           onclick="return confirm('Delete task?')">
            Delete
        </a>
    </div>